.options-video {
    padding: 12px 0;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            padding: 4px 12px;
            background-color: #0000001a;
            min-width: fit-content;
            margin: 0 12px;
            border-radius: 15px;
            cursor: pointer;
            &:hover {
                background-color: #d8d8d8;
            }
        }
    }
}

.options-video .isActive {
    background-color: #000;
    color: #fff;
    font-weight: normal;
    &:hover {
        background-color: #000 !important ;
    }
}
